* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-heading: "Ibarra Real Nova", serif;
  --ff-body: "Public Sans", sans-serif;

  --bg-light: hsl(0, 0%, 98%);
  --bg-dark: hsl(245, 10%, 22%);
  --bg-darker: hsl(0, 0%, 0%);
  --bg-primary: hsl(205, 41%, 21%);
  --bg-secondary: hsl(240, 2%, 92%);

  --clr-primary: hsl(245, 10%, 22%);
  --clr-secondary: hsl(0, 0%, 98%);
  --clr-accent: hsl(167, 36%, 54%);
  --clr-error: hsl(0, 90%, 57%);
}

/* || Base Styles ================================================*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--clr-primary);
  background-color: var(--bg-light);
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  color: var(--clr-primary);
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

/* || General Styles =============================================*/

.container {
  padding: 0 2em;
}

header {
  background-color: var(--bg-light);
  margin-bottom: 5em;
}

section {
  margin-bottom: 5em;
}

aside {
  margin-bottom: 5em;
}

/* || Typography ========================================*/
h1,
h2,
h3,
p {
  margin-bottom: 0.5em;
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
}

h1 {
  font-size: 3.125rem;
  /* font-size: calc(2rem + 3vw); */
  line-height: 40px;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  /* font-size: calc(1.75rem + 3vw); */
  line-height: 42px;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  /* font-size: calc(0.75rem + 3vw); */
  line-height: 36px;
  font-weight: 400;
}

.p-2 {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: var(--clr-primary);
  opacity: 80%;
}

.cyan-text {
  color: var(--clr-accent);
  font-size: 13px;
  font-weight: bold;
}

.faint-text {
  opacity: 50%;
}

/* || navigation =========================================*/
.nav {
  background: var(--bg-dark);
  display: none;
  position: absolute;
  top: 75px;
  right: 2em;
  z-index: 2;
  transition: ease-in-out;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav__item {
  margin: 0.5rem 1.5rem;
}

.nav__link {
  color: var(--clr-secondary);
}

.nav__link:hover {
  color: var(--clr-accent);
  border-bottom: 1px solid var(--clr-accent);
  padding-bottom: 1em;
}

.nav-toggle {
  background: inherit;
  border: none;
}

.hamburger-close {
  display: none;
}

.nav-open .hamburger-close {
  display: block;
}
.nav-open .hamburger-open {
  display: none;
}

.nav-open .nav {
  display: block;
}

/* || Utilities =====================================================*/

.btn {
  padding: 0.5em 1.5em;
  transition: transform 200ms ease-in-out;
  display: inline-block;
  cursor: pointer;
}

.btn--primary {
  border: 1px solid var(--bg-dark);
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: var(--bg-dark);
  color: var(--clr-secondary);
}

.btn--secondary {
  background-color: var(--bg-primary);
  color: var(--clr-secondary);
}

.btn--secondary:hover,
.btn--secondary:focus {
  background-color: var(--clr-accent);
  color: var(--clr-secondary);
}

.btn-submit {
  padding-block: 1em;
}

.cta-img {
  display: inline-block;
  margin-right: 1.5em;
}

.cta:hover,
.cta:focus {
  background-color: var(--clr-accent);
}

.btn-group {
  /* background-color: var(--bg-primary); */
  display: inline-block;
  /* border: 1px solid var(--bg-dark); */
  border: 0;
}

/* layout ================================================== */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

.intro {
  padding-top: 2em;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  /* justify-content: space-between; */
}

.skill {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--clr-primary);
  padding: 0.25em 0.5em;
  width: 150px;
}

.skill-icon {
  width: 40px;
  height: 40px;
}

figcaption {
  margin-left: 0.25em;
  font-size: 0.85rem;
}

/* || Portfolio ==========================================================  */
.portfolio__img {
  margin-bottom: 2em;
}

/* .portfolio__body {
  border-top: 1px solid var(--bg-dark);
  border-bottom: 1px solid var(--bg-dark);
} */

.portfolio__body p {
  margin-bottom: 2em;
}

/* || Project ==========================================================  */

.project-intro {
  margin-bottom: 2em;
}

.project-background {
  margin-bottom: 2em;
}

.project-preview {
  margin-bottom: 4em;
}

.preview-img {
  margin-bottom: 2em;
}

.slide-control {
  display: flex;
  justify-content: space-between;
}

.slide-btn {
  margin-bottom: 1em;
}

.prev,
.next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prev {
  align-items: flex-start;
  text-align: left;
}

.next {
  align-items: flex-end;
  text-align: right;
}

.next h3,
.next p,
.prev h3,
.prev p {
  margin-bottom: 0;
}

.contact {
  text-align: center;
}

.contact-body .social-list {
  justify-content: left;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  background-color: var(--bg-secondary);
  border: none;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

label {
  font-weight: 700;
}

/* Footer=================================================== */
footer {
  background-color: var(--bg-dark);
  text-align: center;
  padding: 4em 0;
}

footer path {
  fill: var(--bg-light);
}

footer .nav__link {
  color: var(--clr-secondary);
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.social-list__item {
  padding: 0.5em;
}

/* Media Queries========================================= */

@media (min-width: 600px) {
  /* Header */
  .nav-toggle {
    display: none;
  }

  .nav {
    display: block;
    position: static;
    background-color: var(--bg-light);
  }

  .nav__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav__link {
    color: var(--clr-primary);
  }

  .active-page {
    color: var(--clr-accent);
    /* border-bottom: 3px solid var(--clr-accent); */
    font-weight: 700;
  }

  .container {
    margin: 0 auto;
  }

  /* portfolio ------------------------------------ */
  .portfolio__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }

  .portfolio__body {
    width: 60%;
    /* padding-inline-start: 2em; */
    margin: 0 auto;
  }

  .bookmark .portfolio__img,
  .fylo .portfolio__img {
    order: 2;
  }

  /* project ------------------------------------------ */
  .prev {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .prev .slide-btn {
    margin-right: 2em;
  }

  .next {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .next .slide-btn {
    margin-left: 2em;
  }

  .contact-body,
  .contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5rem;
  }

  /* Footer */
  footer {
    padding-block: 1em;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .footer-navbar {
    display: flex;
    align-content: center;
    align-items: center;
  }
}

@media (min-width: 800px) {
  .container {
    /* width: 90%; */
    max-width: 1300px;
  }

  .main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .skills {
    justify-content: space-between;
  }

  .my-skills {
    order: 2;
    width: 30%;
  }

  .about-me {
    width: 50%;
  }

  h1 {
    font-size: 3.125rem;
    line-height: 50px;
  }

  header {
    position: relative;
  }

  .intro {
    background-color: var(--bg-light);
    position: absolute;
    bottom: 0;
    width: 35%;
    min-width: 375px;
    padding-right: 1em;
  }

  /* Project +++++++++++++++++++++++++++++++++++++++++++++ */
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }
}
